section.groups-text {
	margin-bottom: 25px;
}
section.group-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 5px;
}
article.group {
	padding: 5px;
	overflow-wrap: break-word;
}
article.group h3 {
	margin: 5px 0;
}
article.group h3 :hover{
	color: grey;
}
article.group img {
	max-height: 150px;
}
article.group p {
	margin: 10px 0;
	line-height: 1.1;
}

/* Responsiveness */
@media ( max-width: 900px ){
	section.group-list {
		grid-template-columns: 1fr 1fr;
	}
}
@media ( max-width: 600px ){
	section.group-list {
		grid-template-columns: 1fr;
	}	
	article.group h3 {
		text-align: center;
	}
	article.group img {
		margin: 0 auto;
		max-height: 200px;
	}	
}
@media ( max-width: 400px ){
	
}