section.leaders {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
}

/* Responsiveness */
@media ( max-width: 1100px ){
	section.leaders { grid-template-columns: 1fr 1fr; }
}
@media ( max-width: 750px ) {
	section.leaders { grid-template-columns: 1fr; }
}
@media ( max-width: 500px ){	
}