section.group-text {
	display: grid;
	grid-template-columns: 3fr 5fr;
}
section.group-text img {
	margin: 0 20px 20px 0 ;
}
section.group-media .topbar {
	margin-top: 15px;
}
section.group-media a,
section.group-media li
{
	/* Clear some styles */
	line-height: 0;
}

section.leaders {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
}

section.group-events {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

section.group-events h3 {
	margin: 25px 0 5px 0;
}
section.group-events .feed-entry h4 {
	margin: 5px 0;
}
section.group-events .feed-entry {
	margin: 0;
}

@media ( max-width: 900px ) {
	section.group-text {
		grid-template-columns: 1fr;
	}
	section.group-text img {
		margin: auto ;
	}
	section.group-events {
		grid-template-columns: 1fr;
	}
	section.leaders {
		grid-template-columns: 1fr 1fr;
	}
}
@media ( max-width: 600px ) {
	section.leaders {
		grid-template-columns: 1fr;
	}
}




