/* Some general admin styles */

/* Remove Show Preview button from all posts because they don't work properly with meta data */
#preview-action {
	display: none;
}
/* Remove Save draft button */
#save-action {
	display: none;
}

/* Gallery UI simplification */
#foogallery_settings.postbox , 
#foogallery_customcss.postbox,
#foogallery_pages.postbox,
#foogallery_help.postbox,
#foogallery_retina.postbox,
#foogallery_sorting.postbox {
	display: none;
}